---
import Layout from '@src/layouts/Layout.astro';
import DisplayComponents from '@src/components/DisplayComponents.astro';

type store = {
  link: string;
  title: {
    rendered: string;
  };
  content: {
    rendered: string;
  }
  acf: {
    store_number: string,
    store_name: string,
    store_description: string,
    sake_name: string,
    sake_company: string,
    sake_description: string,
    store_address1: string,
    store_address2: string,
    store_tel: string,
    event_start: string,
    event_end: string,
    capacity_sitting: number,
    capacity_standing: number,
    appetizer_name: string,
    appetizer_price1: number,
    appetizer_image: string,
    sake_service: string,
    sake_pref: string,
    store_url: string,
    store_image1: undefined | {
      url: string,
      width: string,
      height: string,
      mime_type: string
    },
    store_image2: undefined | {
      url: string,
      width: string,
      height: string,
      mime_type: string
    },
    store_image3: undefined | {
      url: string,
      width: string,
      height: string,
      mime_type: string
    },
    store_zip: string,
    lat: string,
    lng: string,
    map_name: string,
    googlemap_fix: string,
    facebook_url: string,
    twitter_url: string,
    instagram_url: string,
    store_station: string,
    store_route: string,
  },
  _embedded: {
    'wp:featuredmedia': [{
      source_url: string,
      media_details: {
        width: string,
        height: string,
      }
    }]
  },
  image: {
    url: string,
    width: string,
    height: string,
  }
  station: string,
};

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/store?per_page=100&order=asc&_embed`);
const stores = await res.json();
stores.sort((a, b) => a.acf.store_number - b.acf.store_number);

const taxonomy = await fetch(`${import.meta.env.PUBLIC_API_URL}/area?per_page=20`);
const areas = await taxonomy.json();
// console.log(areas);
const areaList = {};

areas.forEach(item => {
  areaList[item.id] = item.name;
});

const areaNameList = areas
  .sort((a, b) => a.id - b.id) // id順にソート
  .map(item => item.name); // "name"を配列にマップ

// console.log(areaNameList);

stores.forEach(store => {
  store.image = {};
  if(store['_embedded']['wp:featuredmedia']) {
    store.image.url = store.acf.appetizer_image;
    // store.image.url = store['_embedded']['wp:featuredmedia'][0]['source_url'];
    // console.log(store['_embedded']['wp:featuredmedia'][0]);
  } else {
    store.image.width = '1920';
    store.image.height = '1080';
    store.image.url = 'https://data.nga-osaka.com/2023/wp-content/uploads/2023/08/preparation-image16-9.jpg';
  }
  store.station = store.acf.store_station.includes('駅') ? store.acf.store_station : store.acf.store_station + '駅';
});
---

<Layout title="参加店舗一覧">
  <main>
    <h1><img src="/assets/images/storelist-heading.png" class="storelist-heading__image" alt="参加店舗一覧" width="948" height="851"></h1>
    <div class="container">
      <div class="filter-panel" style="display: grid;">
        <div class="filter-panel__checks">
          {
            areaNameList.map((areaName:string) => (
                    <label class="filter-area__label"><input type="checkbox" name="area-filter" class="filter-area__input" value={areaName} checked>{areaName}</label>
            ))
          }
        </div>
        <div class="filter-area__buttons">
          <button type="button" id="button-areas-check" class="filter-area__button">すべてチェック</button>
          <button type="button" id="button-areas-discheck" class="filter-area__button">すべて外す</button>
        </div>
      </div>
    <div id="store-list" class="store-list" data-area={areaNameList.join(',')}>
      {
        stores.map((store:any) => (
                <article class="store-item" data-area={areaList[store.area]} data-open={store.acf.event_start} data-end={store.acf.event_end} data-display="true">
                  <a href={`/store/${store.slug}`} class="store-link" data-canceled={store.acf.store_canceled}>
                    <figure class="store-figure">
                      <img src={store.image.url} width="1920" height="1080" alt="" class="store-image" loading="lazy">
                      <figcaption class="store-figcaption">{areaList[store.area]}</figcaption>
                    </figure>
                    <h2 class="store-title" transition:name="title"><span class="store-number">{store.acf.store_number}</span>{store.title.rendered}<span class="store-price">{Number(store.acf.appetizer_price1).toLocaleString()}円</span></h2>
                    <div class="store-content">
                      <p class="store-content__appetizer"><img src="/assets/images/icon-food.svg" width="18" height="18" alt="">{store.acf.appetizer_name}</p>
                      <p><img src="/assets/images/icon-sake.svg" width="18" height="18" alt="">{store.acf.sake_service}</p>
                      <p><img src="/assets/images/icon-time.svg" width="18" height="18" alt="">{store.acf.event_start}〜{store.acf.event_end}</p>
                      <p><img src="/assets/images/icon-seat.svg" width="18" height="18" alt="">立食 {store.acf.capacity_standing}名/着席 {store.acf.capacity_sitting}名/合計 {Number(store.acf.capacity_standing) + Number(store.acf.capacity_sitting)}名</p>
                      <p><img src="/assets/images/icon-train.svg" width="18" height="18" alt="">{store.station}</p>
                    </div>
                  </a>
                </article>
        ))
      }
    </div>
  </div>
        </main>
        </Layout>

<script>
const areaFilters = document.querySelectorAll('[name="area-filter"]');
const storeList = document.getElementById('store-list');
const storeItems = document.querySelectorAll('.store-item');
const buttonAreasCheck = document.getElementById('button-areas-check');
const buttonAreasDisCheck = document.getElementById('button-areas-discheck');
console.log(storeList.dataset.area.split(','));
const areaChecked = [];
areaFilters.forEach(areaFilter => {
  areaFilter.addEventListener('click', ()=>{
      storeItems.forEach(storeItem =>{
        if(storeItem.dataset.area === areaFilter.value) {
          storeItem.dataset.display = areaFilter.checked;
        }
      });
    console.log(areaFilter.value);
  });
});
buttonAreasCheck.addEventListener('click',()=> {
  areaFilters.forEach(areaFilter => {
    areaFilter.checked = true;
  });
  storeItems.forEach(storeItem =>{
      storeItem.dataset.display = true;
  });
});
buttonAreasDisCheck.addEventListener('click',()=> {
  areaFilters.forEach(areaFilter => {
    areaFilter.checked = false;
  });
  storeItems.forEach(storeItem =>{
    storeItem.dataset.display = false;
  });
});
</script>

<style lang="scss">
  main {
    padding-block: var(--space-x8);
    background: url(/assets/images/store-bg.jpg);
  }
  .storelist-heading__image {
    width: 200px;
    margin-inline: auto;
  }
  .filter-panel {
    background-color: #fff;
    padding: var(--space-x4);
  }
  .filter-panel__checks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    @media (min-width: 480px) {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  .filter-area__label {
    padding: var(--space-x1);
    cursor: pointer;
  }
  .filter-area__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--space-x2);
  }
  .filter-area__button {
    padding: var(--space-x2) var(--space-x3);
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
    &:nth-of-type(1) {
      color: var(--color-accent);
      &:hover {
        background-color: #4BA09519;
      }
    }
    &:nth-of-type(2) {
      color: #666;
      &:hover {
        background-color: #eee;
      }
    }
  }
  .store-list {
    display: grid;
    gap: var(--space-x8) var(--space-x5);
    margin-top: var(--space-x8);
    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .store-link {
    display: block;
    height: 100%;
    padding: 0 var(--space-x3) var(--space-x4);
    background-color: #fff;
    text-decoration: none;
    color: var(--color-font);
    filter: drop-shadow(0 3px 4px rgba(0,0,0,.2));
    transition: filter .3s ease-in-out;
    &:hover {
      filter: drop-shadow(0 5px 7px rgba(0,0,0,.2));
    }
    &[data-canceled="true"] {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        background-color:rgba(0,0,0,.4);
        z-index: 1;
      }
      &::after {
        content: '出店中止';
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 2px .5em;
        border-radius: 5px;
        border: 3px solid;
        background-color: rgba(255,255,255,.85);
        font-weight: bold;
        font-size: 110%;
        letter-spacing: .2em;
        color: var(--color-danger);
        transform: translate(-50%, -50%);
        z-index: 2;
      }
      &:hover {
        filter: drop-shadow(0 3px 4px rgba(0,0,0,.2));
      }
    }
  }
  .store-item {
    display: none;
    &[data-display="true"] {
      display: block;
    }
  }
  .store-figure {
    position: relative;
    margin: 0 calc(var(--space-x3) * -1);
  }
  .store-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  .store-figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 1;
    padding: var(--space-x2) var(--space-x3);
    background-color: var(--color-sub-accent);
    color: white;
  }
  .store-title {
    display: grid;
    align-items: center;
    gap: var(--space-x1);
    grid-template-columns: 1.7em 1fr max-content;
    margin-block: var(--space-x2);
    font-size: 16px;
    line-height: 1.3;
  }
  .store-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 1.7em;
    height: 1.7em;
    padding-bottom: 2px;
    border-radius: 50%;
    background-color: var(--color-sub-accent);
    color: white;
  }
  .store-price {
    margin-left: auto;
    padding-left: var(--space-x2);
    font-size: 120%;
  }
  .store-content {
    color: #666;
    font-size: 14px;
    &>p {
      display: flex;
      align-items: center;
      gap: var(--space-x1);
      margin: 6px 0 0;
      line-height: 1.2;
    }
  }
  .store-content__appetizer {
    color: #444;
    font-weight: bold;
  }
</style>