---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Picture } from '@astrojs/image/components';

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/store?per_page=100&order=asc`);
const stores = await res.json();
stores.sort((a, b) => a.acf.store_number - b.acf.store_number);
// console.log(stores);

const ngaList = [
	{name:'札幌',slug: 'sapporo',url: 'https://www.instagram.com/nga_sapporo/'},
	{name:'仙台',slug: 'sendai',url: 'https://www.instagram.com/nga_sendai/'},
	{name:'東京',slug: 'tokyo',url: 'https://www.facebook.com/sakeome1001/?locale=ja_JP'},
	{name:'新潟',slug: 'niigata',url: 'https://instagram.com/nga_niigata'},
	{name:'金沢',slug: 'kanazawa',url: 'https://www.nga-kanazawa.com/'},
	{name:'静岡',slug: 'shizuoka',url: 'https://www.facebook.com/ngashizuoka/'},
	{name:'名古屋',slug: 'nagoya',url: 'https://www.facebook.com/profile.php?id=100079705478633'},
	{name:'京都',slug: 'kyoto',url: 'https://www.facebook.com/profile.php?id=100063838424486&locale=ja_JP'},
	{name:'大阪',slug: 'osaka',url: 'https://nga-osaka.com/'},
	{name:'神戸',slug: 'kobe',url: 'https://www.go-around-kobe.com/'},
	{name:'淡路島',slug: 'awajishima',url: 'https://www.facebook.com/p/%E6%97%A5%E6%9C%AC%E9%85%92%E3%82%B4%E3%83%BC%E3%82%A2%E3%83%A9%E3%82%A6%E3%83%B3%E3%83%89%E6%B7%A1%E8%B7%AF%E5%B3%B6-100064598717254/'},
	{name:'姫路',slug: 'himeji',url: 'https://www.facebook.com/profile.php?id=100077695929317&locale=ja_JP'},
	{name:'岡山',slug: 'okayama',url: 'https://www.facebook.com/NGAOKYAMA/?locale=ja_JP'},
	{name:'広島',slug: 'hiroshima',url: 'https://www.facebook.com/sake1001hiroshima/?locale=ja_JP'},
	{name:'出雲',slug: 'izumo',url: 'https://www.facebook.com/profile.php?id=100084572854213'},
	{name:'高知',slug: 'kochi',url: 'https://www.facebook.com/people/%E6%97%A5%E6%9C%AC%E9%85%92%E3%82%B4%E3%83%BC%E3%82%A2%E3%83%A9%E3%82%A6%E3%83%B3%E3%83%89%E9%AB%98%E7%9F%A5/100069240108235/'},
	{name:'福岡',slug: 'fukuoka',url: 'https://www.facebook.com/NGA2017FUKUOKA/?locale=ja_JP'},
	{name:'沖縄',slug: 'okinawa',url: 'https://www.facebook.com/NGA2022OKINAWA/'},
]
---

<Layout title="">
	<main>
		<div class="main-visual">
			<div class="main-visual__stage">
				<div class="container">
					<div class="main-visual__effectCircle">
						<div id="effectCircleElement" class="main-visual__effectCircleElement"></div>
					</div>
					<div class="main-visual__flug">
						<img src="/assets/images/flug-left.png" class="main-visual__flugLeftImage" alt="" width="981" height="416">
						<img src="/assets/images/flug-right.png" class="main-visual__flugRightImage" alt="" width="981" height="416">
					</div>
					<h1 class="main-visual__logo">
						<img src="/assets/images/logo.svg" class="main-visual__logoImage" alt="日本酒ゴーアラウンド" width="300" height="74">
					</h1>
					<div class="main-visual__message">
						<div class="main-visual__message1">
							<img src="/assets/images/message1.png" class="main-visual__messageImage1" alt="" width="1799" height="131">
						</div>
						<div class="main-visual__message2">
							<img src="/assets/images/message2.png" class="main-visual__messageImage2" alt="" width="1178" height="129">
						</div>
					</div>
					<div class="main-visual__cakeBase">
						<img src="/assets/images/base.png" alt="" width="1830" height="775">
					</div>
					<div class="main-visual__sake">
						<div class="main-visual__sakeRibbon">
							<img src="/assets/images/nihonshunohi.png" class="main-visual__sakeRibbonImage" alt="10月1日は日本酒の日" width="1225" height="393">
							<img src="/assets/images/sakazukin-kanazawa.png" class="main-visual__sakeKanazawaImage" alt="さかずきん 金沢" width="390" height="443">
						</div>
						<img src="/assets/images/sake.png" class="main-visual__sakeImage" alt="" width="623" height="1920">
					</div>
					<div class="main-visual__tower">
						<img src="/assets/images/main-tower.png" class="main-visual__towerImage" alt="" width="1003" height="1664">
					</div>
					<div id="main-visual-canvas"></div>
					<div class="main-visual__sakazukinBottom">
						<img src="/assets/images/sakazukin-okinawa.png" class="main-visual__sakazukinBottomImage" alt="さかずきん 沖縄" width="661" height="883">
						<img src="/assets/images/sakazukin-okayama.png" class="main-visual__sakazukinBottomImage" alt="さかずきん 岡山" width="625" height="909">
						<img src="/assets/images/sakazukin-shizuoka.png" class="main-visual__sakazukinBottomImage" alt="さかずきん 静岡" width="765" height="594">
						<img src="/assets/images/sakazukin-himeji.png" class="main-visual__sakazukinBottomImage" alt="さかずきん 姫路" width="618" height="681">
						<img src="/assets/images/sakazukin-izumo.png" class="main-visual__sakazukinBottomImage" alt="さかずきん 出雲" width="519" height="697">
						<img src="/assets/images/sakazukin-kyoto.png" class="main-visual__sakazukinBottomImage" alt="さかずきん 京都" width="610" height="795">
					</div>
				</div>
				<div class="main-visual__effect">
					<img src="/assets/images/light.png" id="effectLightImage" class="main-visual__effectLightImage" alt="" width="78" height="89">
				</div>
			</div>
			<div class="main-visual__bg bg1"></div>
			<div class="main-visual__bg bg2"></div>
			<div class="main-visual__lineStart"></div>
			<div class="main-visual__lineEnd"></div>
			<h2 class="main-visual__date">
				<img src="/assets/images/date.png" class="main-visual__dateImage" alt="2023年10月１日（日）" width="1795" height="175">
			</h2>
		</div>
		<section class="section section-introduction">
			<div class="introductoin-lead">
				<h2>さかずきんバッジを<br>
				500円でGet!!<br>
				胸につけてはしご酒！</h2>
				<img src="/assets/images/badge-osaka.png" class="introductoin-lead__image" alt="さかずきん 大阪" width="324" height="324">
			</div>
			<div class="introductoin-lead--sub">
				<h3 class="text-center">バッジは参加店舗・協力酒販店で販売中！</h3>
				<p>
					今年のバッジは18種類！<br>
					※数の少ない都市が御座いますので､希望の都市がある方はお急ぎ下さい。
				</p>
			</div>
			<div class="container">
				<div class="box-contents">
					<h3 class="heading-ribbon">
						<span>ルール</span>
					</h3>
					<div class="box-contents__inner">
						<ul class="rule-list">
							<li class="rule-item">参加店舗か担当酒販店で事前にさかずきんバッジ（500円）を購入！</li>
							<li class="rule-item">10月1日は一日中バッジを胸につけて周りの人に【日本酒の日】をさりげなくアピール！</li>
							<li class="rule-item">参加店舗にてそれぞれ蔵元さんが皆様をお待ちしています。</li>
							<li class="rule-item">各店お気に入りの酒蔵のお酒（60ml）がサービスになります！各店自慢のお付出しは有料♪</li>
						</ul>
					</div>
					<svg width="100%" height="100%" class="box-contents__border">
						<rect
							width="100%"
							height="100%"
							fill="none"
							stroke="gray"
							stroke-width="3"
						/>
					</svg>
				</div>
				<div class="box-contents">
					<h3 class="heading-ribbon">
						<span>注意事項</span>
					</h3>
					<div class="box-contents__inner">
						<ul class="notes-list">
							<li class="notes-item">今年のバッジは全国共通で使用出来ます。</li>
							<li class="notes-item">お酒のサービスは各店舗でお一人様一杯ずつになります。</li>
							<li class="notes-item">自転車で来られたお客様にはお酒の提供はしません。<br>
								移動は公共交通機関でお願いします。</li>
							<li class="notes-item">各店とも通常営業体制と異なる場合があります。<br>
								また、混み合って来た場合の時間制限にご協力をお願いします。</li>
							<li class="notes-item">［和らぎ水］の提供が出来ないお店もございます。<br>
								全ての参加店舗（店内）への飲料水の持ち込みは可能です。</li>
							<li class="notes-item">行政の要請、悪天候等の理由でイベントが中止になった場合もバッジの払い戻しは致しませんが、後日同様のサービスが受けられる様にしますので、バッジは無くさずお持ち下さい。</li>
						</ul>
					</div>
					<svg width="100%" height="100%" class="box-contents__border">
						<rect
							width="100%"
							height="100%"
							fill="none"
							stroke="gray"
							stroke-width="3"
						/>
					</svg>
				</div>
				<div class="box-contents">
					<h3 class="heading-ribbon">
						<span>お知らせ</span>
					</h3>
					<div class="box-contents__inner">
						<ul>
							<li>2023.09.23 店舗地図を公開しました。</li>
							<li>2023.09.20 全国の日本酒ゴーアラウンドへのリンクを設置しました。</li>
							<li>2023.08.30 「（39）小料理屋 en to jyo」は出店中止となりました。</li>
							<li>2023.08.27 参加店舗の画像を公開しました。振る舞い酒の都道府県を修正しました。</li>
							<li>2023.08.25 参加店舗ページを公開しました。</li>
							<li>2023.08.13 日本酒ゴーアラウンド2023 大阪公式サイトオープンしました。</li>
						</ul>
					</div>
					<svg width="100%" height="100%" class="box-contents__border">
						<rect
							width="100%"
							height="100%"
							fill="none"
							stroke="gray"
							stroke-width="3"
						/>
					</svg>
				</div>
			</div>
		</section>
		<section class="section section-storeList">
			<div class="container">
			<h2 id="store-list"><img src="/assets/images/storelist-heading.png" class="storelist-heading__image" alt="参加店舗一覧" width="948" height="851"></h2>
				<div class="section section-chart">
				<h3>振舞い酒分布図</h3>
				<div class="sake-chart-wrapper">
					<canvas id="sake-chart" class="sake-chart">
					</canvas>
					<div class="sake-label label-right">味が濃厚</div>
					<div class="sake-label label-left">味が淡麗</div>
					<div class="sake-label label-top">香りが高い</div>
					<div class="sake-label label-bottom">香りが穏やか</div>
				</div>
					<button type="button" id="button-chart-expansion" class="button-chart-expansion" data-micromodal-trigger="modal-chart"><img src="/assets/images/icon-full.svg" alt="" width="18" height="18">拡大表示する</button>
				</div>
			<ul class="store-list" role="list">
				{
					stores.map((store:any) => (
						<li class="store-item" data-title={store.title.rendered} data-taste={store.acf.sake_taste} data-flavor={store.acf.sake_flavor} data-number={store.acf.store_number}><a href={`/store/${store.slug}`} class="store-link" data-canceled={store.acf.store_canceled}><span class="store-number">{store.acf.store_number}</span>{store.title.rendered}</a></li>
					))
				}
			</ul>
			</div>
		</section>
		<section class="section section-ngaList">
			<div class="container">
				<h2><img class="nga-list__image" src="/assets/images/nga-list-title.svg" alt="全国のゴーアラウンド" width="130" height="172"></h2>
				<ul class="nga-list">
					{
						ngaList.map((nga:any) => (
							<li class="nga-item" data-pref={nga.slug}>
								<a href={nga.url} class="nga-link" target="_blank">
									<img class="nga-image" src={`/assets/images/badge-${nga.slug}.png`} alt={`日本酒ゴーアラウンド2023 ${nga.name}`} width="324" height="324">
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</section>
	</main>
	<div class="modal micromodal-chart" id="modal-chart" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-chart-title">
				<header class="modal__header">
					<h2 class="modal__title" id="modal-chart-title">
						振る舞い酒分府図
					</h2>
				</header>
				<main class="modal__content" id="modal-chart-content">
					<div class="sake-chart-wrapper">
						<canvas id="modal-chart-canvas" class="sake-chart">
						</canvas>
						<div class="sake-label label-right">味が濃厚</div>
						<div class="sake-label label-left">味が淡麗</div>
						<div class="sake-label label-top">香りが高い</div>
						<div class="sake-label label-bottom">香りが穏やか</div>
					</div>
				</main>
				<footer class="modal__footer">
					<button class="modal__close" aria-label="閉じる" data-micromodal-close></button>
				</footer>
			</div>
		</div>
	</div>
</Layout>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import p5 from 'p5';
	import MicroModal from 'micromodal';

	const modal = document.getElementById('modal-chart');

	MicroModal.init({
		disableScroll: true,
		onShow: (modal) => {
			const chart = document.getElementById('modal-chart-content');
			console.log(window.innerHeight * 1.2);
			chart.scrollLeft = window.innerHeight * 0.6 - chart.clientWidth / 2;
		},
	});

	gsap.registerPlugin(ScrollTrigger);
	gsap.timeline({ repeat: 0, repeatDelay: 0.5 })
	.to(".main-visual__bg", { scale: 1, duration: .5, ease: "Power1.easeOut", delay: .3 }).to(".main-visual__bg", { borderRadius: 0})
	.to(".main-visual__lineStart", { x: 0, duration: .5 }, "-=0.9")
	.to(".main-visual__lineEnd", { x: 0, duration: .5 }, "-=0.9")
	.to(".main-visual__stage", { opacity: 1, duration: 0 })
		.to(".main-visual__bg.bg1", {x: '-100%', duration: 2, ease: "Power4.easeOut"})
		.to(".main-visual__bg.bg2", {x: '100%', duration: 2, ease: "Power4.easeOut"}, "-=2")
		.to(".main-visual__flugLeftImage", {opacity: 1, duration: .5, ease: "Power1.easeOut", x: '0%'}, "-=1.3")
		.to(".main-visual__flugRightImage", {x: 0, opacity: 1, duration: .5, ease: "Power1.easeOut"}, "-=1.1")
		.to(".main-visual__sake", {x: 0, y: 0, opacity: 1, duration: .5, ease: "Power1.easeOut"}, "-=1.5")
		.to(".main-visual__tower", {x: 0, y: 0, opacity: 1, duration: .5, ease: "Bounce.easeOut"}, "-=1.1")
		.to(".main-visual__sakazukinBottomImage:nth-of-type(5)",{y: 0, opacity: 1, scale: 1, duration: .7, ease: "back.out(1.7)"}, "-=1.5")
		.to(".main-visual__sakazukinBottomImage:nth-of-type(3)",{y: 0, opacity: 1, scale: 1, duration: .7, ease: "back.out(1.7)"}, "-=1.0")
		.to(".main-visual__sakazukinBottomImage:nth-of-type(4)",{y: 0, opacity: 1, scale: 1, duration: .7, ease: "back.out(1.7)"}, "-=0.9")
		.to(".main-visual__sakazukinBottomImage:nth-of-type(1)",{y: 0, opacity: 1, scale: 1, duration: .7, ease: "back.out(1.7)"}, "-=0.7")
		.to(".main-visual__sakazukinBottomImage:nth-of-type(6)",{y: 0, opacity: 1, scale: 1, duration: .7, ease: "back.out(1.7)"}, "-=0.5")
		.to(".main-visual__sakazukinBottomImage:nth-of-type(2)",{y: 0, opacity: 1, scale: 1, duration: .7, ease: "back.out(1.7)"}, "-=0.5")
		.to(".main-visual__message1",{maskSize: '200% 100%', duration: 1}, "-=1.5")
		.to(".main-visual__message2",{maskSize: '200% 100%', duration: 1}, "-=1")
		.to(".main-visual__date",{y: 0, opacity: 1, duration: 1, ease: "linear"}, "-=0.5");

	gsap.utils.toArray('.heading-ribbon')
		.forEach((item) => {
			gsap.fromTo(item,
				{ y: 0, opacity: 0},
				{ y: '-50%', opacity: 1,
					scrollTrigger:{
						trigger:item,
						start:'top 80%',
						end:'bottom 20%',
						toggleActions:'play none none reverse',
					}});
		});

	gsap.utils.toArray('.box-contents__border>rect')
		.forEach((item) => {
			gsap.to(item,
				{
					strokeDashoffset: '0',
					ease: 'linear',
					duration: 0.7,
					scrollTrigger: {
						trigger: item.parentNode,
						start: 'top 80%',
						end: 'bottom 20%',
						toggleActions: 'play none none reverse',
					}
				});
		});

	gsap.utils.toArray('.box-contents__inner')
		.forEach((item) => {
			gsap.to(item,
				{
					maskSize: '100% 130%',
					ease: 'linear',
					duration: 0.7,
					scrollTrigger: {
						trigger: item.parentNode,
						start: 'top 80%',
						end: 'bottom 20%',
						toggleActions: 'play none none reverse',
					}
				});
		});

	gsap.utils.toArray('.nga-item:nth-of-type(odd)')
		.forEach((item) => {
			gsap.fromTo(item,
				{
					x: '-20%',
					opacity: 0,
					rotate: '-75deg',
				},
				{
					x: 0,
					opacity: 1,
					rotate: '0deg',
					ease: 'ease-out',
					duration: 0.7,
					scrollTrigger: {
						trigger: item,
						start: 'top 80%',
						end: 'bottom 20%',
						toggleActions: 'play none none reverse',
					}
				});
		});

	gsap.utils.toArray('.nga-item:nth-of-type(even)')
		.forEach((item) => {
			gsap.fromTo(item,
				{
					x: '20%',
					opacity: 0,
					rotate: '75deg',
				},
				{
					x: 0,
					opacity: 1,
					rotate: '0deg',
					ease: 'ease-out',
					duration: 0.7,
					scrollTrigger: {
						trigger: item,
						start: 'top 80%',
						end: 'bottom 20%',
						toggleActions: 'play none none reverse',
					}
				});
		});

	window.addEventListener('DOMContentLoaded',()=>{
		const effect = document.querySelector('.main-visual__effect');
		const effectCircle = document.querySelector('.main-visual__effectCircle');
		const light = document.getElementById('effectLightImage');
		const circle = document.getElementById('effectCircleElement');
		const rotates = [45, 135, 225, 315];

		const effectWidth = effect.offsetWidth;
		const effectHeight = effect.offsetHeight;
		const effectCircleWidth = effectCircle.offsetWidth;
		const effectCircleHeight = effectCircle.offsetHeight;

		const images = [];
		const elements = [];

		function isOverlapping(newImg) {
			for (let img of images) {
				if (newImg.left < img.left + img.width &&
					newImg.left + newImg.width > img.left &&
					newImg.top < img.top + img.height &&
					newImg.top + newImg.height > img.top) {
					return true;
				}
			}
			return false;
		}

		for (let i = 0; i < 20; i++) {
			let tries = 0;
			let maxTries = 100;  // 画像の位置を計算する最大試行回数

			let imgData;
			do {
				const randomX = Math.random() * (effectWidth - 20);
				const randomY = Math.random() * (effectHeight - 20);
				const randomS　= 20 + Math.trunc(Math.random() * 20);
				imgData = {
					left: randomX,
					top: randomY,
					width: 20,
					height: 20,
					size: randomS
				};
				tries++;
				if (tries > maxTries) {
					console.error('Max tries reached. Some images might overlap.');
					break;
				}
			} while (isOverlapping(imgData));

			images.push(imgData);

			const lightImg = light.cloneNode(true);
			lightImg.id = '';
			lightImg.style.width = imgData.size + 'px';
			lightImg.style.left = (imgData.left / effectWidth * 100) + '%';
			lightImg.style.top = (imgData.top / effectHeight * 100) + '%';
			effect.appendChild(lightImg);
		}

		for (let i = 0; i < 20; i++) {
			let tries = 0;
			let maxTries = 100;  // 画像の位置を計算する最大試行回数

			let elementData;
			do {
				const randomX = Math.random() * (effectCircleWidth - 20);
				const randomY = Math.random() * (effectCircleHeight - 20);
				const randomR　= rotates[Math.floor(Math.random() * rotates.length)];
				elementData = {
					left: randomX,
					top: randomY,
					width: 20,
					height: 20,
					rotate: randomR
				};
				tries++;
				if (tries > maxTries) {
					console.error('Max tries reached. Some images might overlap.');
					break;
				}
			} while (isOverlapping(elementData));

			elements.push(elementData);

			const circleElement = circle.cloneNode(true);
			circleElement.id = '';
			circleElement.style.rotate = elementData.rotate + 'deg';
			circleElement.style.left = (elementData.left / effectCircleWidth * 100) + '%';
			circleElement.style.top = (elementData.top / effectCircleHeight * 100) + '%';
			effectCircle.appendChild(circleElement);
		}
	});

	const sketch = (p: p5) => {
		// 描画色1・2
		const color1 = p.color("#fffbe3");
		const color2 = p.color("#24495c");
		// 描画色1の強さ
		let color1amount = 1;

		/** 初期化処理 */
		p.setup = () => {
			p.createCanvas(p.windowWidth, p.windowHeight);
			p.angleMode(p.DEGREES); // 回転の単位を弧度から角度に変更
			p.noStroke(); // 線なし（塗りつぶしのみ）に設定
			// p.background("#131821"); // 背景色を設定
			p.blendMode(p.LIGHTEST); // 合成モードを「LIGHTEST=明るく」に設定
		};

		/** フレームごとの描画処理 */
		p.draw = () => {
			// 塗り色を設定
			p.fill(p.lerpColor(color2, color1, color1amount));
			// 画面中央を原点に
			p.translate(p.width / 2, p.height / 2);
			// フレーム数分（1フレームあたり13度）回転させる
			p.rotate(p.frameCount * 13);
			// 楕円を描く
			p.ellipse(p.frameCount / 2, 0, p.frameCount, p.frameCount / 3);
			// 「描画色1の強さ」を少し弱くする
			color1amount *= 0.995;
		}
	}

	// new p5(sketch, document.getElementById('main-visual-canvas'));
</script>
<script src="../scripts/sake-chart.js"></script>
<style lang="scss">
	@use "sass:color";

	main {
		margin: auto;
		color: var(--font-color);
	}
	.main-visual {
		position: relative;
		display: grid;
		height: calc(100vh - 60px);
		height: calc(100svh - 60px);
		max-height: 760px;
		overflow: hidden;
		background: url(/assets/images/logo.svg) no-repeat center/200px;
		@media (orientation: landscape){
			max-height: none;
		}
	}
	.main-visual__bg {
		position: absolute;
		align-self: center;
		justify-self: center;
		width: 100vmax;
		height: 100vmax;
		background-color: #E7A7B4;
		background-image: url(/assets/images/main-shadow.jpg);
		background-blend-mode: lighten;
		background-size: cover;
		scale: 0;
		border-radius: 50%;
		&.bg1 {
			clip-path: polygon(0 0,50% 0,50% 100%, 0 100%);
		}
		&.bg2 {
			clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
		}
	}
	.main-visual__stage {
		width: 100%;
		height: 100%;
		background-color: #E7A7B4;
		background-image:
			radial-gradient(rgba(255,255,255,0.15) 35%, transparent 35%),
			radial-gradient(rgba(255,255,255,0.15) 35%, transparent 35%);
		background-size: 200px 200px;
		background-position: 0 0, 100px 100px;
		opacity: 0;
		animation: 10s linear stageBack infinite;
		&>.container {
			container: layout / inline-size;
			position: relative;
			height: 100%;
		}
	}
	@keyframes stageBack {
		0% {background-position: 0 0, 100px 100px;}
		100% {background-position: 100px 100px, 200px 200px;}
	}
	.main-visual__lineStart,
	.main-visual__lineEnd {
		position: absolute;
		left: 0;
		right: 0;
		height: 5%;
		max-height: 50px;
		background-image: repeating-linear-gradient(45deg, white, white 15px, #D2E7DB 15px, #D2E7DB 30px, white 30px, white 45px, #F6DFE2 45px, #F6DFE2 60px);
	}
	.main-visual__lineStart {
		top: 0;
		translate: 100%
	}
	.main-visual__lineEnd {
		bottom: 0;
		translate: -100%;
	}


	// メインビジュアル
	.main-visual__effect,
	.main-visual__effectCircle {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	.main-visual__effectCircleElement {
		position: absolute;
		width: 30px;
		height: 20px;
		background-image: radial-gradient(rgb(255,255,255) 40%,transparent 40%),radial-gradient(rgb(255,255,255) 40%,transparent 40%);
		background-size: 12px 12px,8px 8px;
		background-position: 0 0,14px 0;
		background-repeat: no-repeat;
		opacity: .8;
	}
	.main-visual__effectLightImage {
		position: absolute;
		width: 39px;
		opacity: .8;
		animation: lightEffect linear 3s infinite;
		&:nth-of-type(n + 3) {
			animation-duration: 5s;
		}
		&:nth-of-type(n + 5) {
			animation-duration: 2s;
		}
	}
	@keyframes lightEffect {
		0% {scale: 1}
		25% {scale: 1.3}
		50% {scale: 1}
		75% {scale: 0.7}
		100% {scale: 1}
	}
	.main-visual__date {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 1240px;
		margin: 0 auto 3px;
		padding-inline: var(--space-x5);
		transform: translateY(150%);
	}
	.main-visual__dateImage {
		width: 800px;
		margin-inline: auto;
	}
	.main-visual__flug {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: flex;
		justify-content: space-between;
	}
	.main-visual__flugLeftImage {
		width: 45%;
		translate: -49%;
		opacity: 0;
	}
	.main-visual__flugRightImage {
		width: 45%;
		translate: 50%;
		opacity: 0;
	}
	.main-visual__logo {
		position: absolute;
		left: 0;
		right: 0;
		top: min(6%, 60px);
		margin: 0;
		z-index: 10;
		@media (min-width: 840px) {
			top: 25%;
		}
		@media (min-width: 1160px) {
			top: 16%;
		}
	}
	.main-visual__logoImage {
		margin-inline: auto;
		min-width: 50%;
	}
	.main-visual__message {
		position: absolute;
		width: 70%;
		max-width: 360px;
		left: 0;
		right: 0;
		margin-inline: auto;
		top: min(19%, 170px);
		z-index: 1;
		@media (min-width: 840px) {
			top: calc(25% + 130px);
		}
		@media (min-width: 1160px) {
			top: calc(16% + 200px);
		}	}
	.main-visual__message1,
	.main-visual__message2 {
		padding-bottom: 2px;
		border-bottom: 2px dotted #FFF8A5;
		-webkit-mask-image: linear-gradient(90deg, #000000 0, #000000 50%, transparent);
		mask-image: linear-gradient(90deg, #000000 0, #000000 50%, transparent);
		-webkit-mask-size: 0% 100%;
		mask-size: 0% 100%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
	}
	.main-visual__message2 {
		width: 67%;
		margin: .5rem auto 0;
	}
	.main-visual__messageImage2 {
	}
	.main-visual__cakeBase {
		position: absolute;
		left: 0;
		bottom: 0;
		translate: 0 30%;
	}
	.main-visual__sake {
		position: absolute;
		display: flex;
		justify-content: center;
		height: 100%;
		max-height: 120vw;
		left: 15%;
		bottom: calc(775 / 1830 * 100cqw / 2);
		transform: translate(-50%, -50%);
		opacity: 0;
		rotate: -5deg;
		transform-origin: center bottom;
		@media (min-width: 1040px) {
			rotate: -10deg;
		}
	}
	.main-visual__sakeImage {
		width: auto;
		height: 100%;
	}
	.main-visual__tower {
		position: absolute;
		height: calc(100% - (775 / 1830 * 100cqw / 2));
		max-height: 130vw;
		right: 10%;
		bottom: calc(775 / 1830 * 100cqw / 2);
		transform: translate(50%, -50%);
		opacity: 0;
		rotate: 10deg;
		transform-origin: center bottom;
	}
	.main-visual__towerImage {
		width: auto;
		height: 100%;
	}
	.main-visual__sakeRibbon {
		position: absolute;
		top: 33%;
		width: 210%;
		z-index: 1;
	}
	.main-visual__sakeRibbonImage {
		position: relative;
		z-index: 1;
	}
	.main-visual__sakeKanazawaImage {
		width: 30%;
		margin-inline: auto;
		transform-origin: center top;
		translate: -4% -29%;
		animation: swing 3s ease-in-out alternate infinite;
	}
	@keyframes swing {
		0% {rotate: -2deg}
		100% {rotate: 10deg}
	}
	.main-visual__sakazukinBottom {
		position: absolute;
		left: 0;
		right: 0;
		bottom: min(6%, 60px);
		display: grid;
		grid-template-columns: .661fr .625fr .765fr .618fr .519fr .610fr;
		align-items: flex-end;
		padding-inline: var(--space-x5);
		gap: var(--space-x1);
	}
	.main-visual__sakazukinBottomImage {
		opacity: 0;
		transform: translateY(50%);
		scale: 1.2;
		&:nth-of-type(1) {
			margin-bottom: 20%;
			animation: okinawa 13s linear 10s infinite;
		}
		&:nth-of-type(2) {
			margin-bottom: 10%;
			&:hover {
				animation: okayama 1s linear;
			}
		}
		&:nth-of-type(3) {
			animation: shizuoka 10s linear 5s infinite;
		}
		&:nth-of-type(4) {
			animation: himeji 11s linear 7s infinite;
		}
		&:nth-of-type(5) {
			margin-bottom: 10%;
			animation: izumo 11s linear 8s infinite;
		}
		&:nth-of-type(6) {
			margin-bottom: 20%;
			&:hover {
				animation: kyoto .6s ease-in-out;
			}
		}
	}

	@keyframes okinawa {
		0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
		1%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
		4%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
		5%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
		6%  { transform: scale(0.9, 1.2) translate(0%, -100%); }
		7.5%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
		8.5%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
		10% { transform: scale(1.0, 1.0) translate(0%, 0%); }
		100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
	}

	@keyframes okayama {
		0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
		5%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
		20%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
		25%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
		30%  { transform: scale(0.9, 1.2) translate(0%, -50%) rotateY(0deg);}
		50%  { transform: scale(0.9, 1.2) translate(0%, -50%) rotateY(180deg);}
		60%  { transform: scale(0.9, 1.2) translate(0%, -50%) rotateY(0deg);}
		75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
		85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
		100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
	}

	@keyframes shizuoka {
		0% {transform: skew(0deg,0deg);}
		1.5% {transform: skew(1deg, 1deg);}
		2% {transform: skew(-1deg, -1deg);}
		2.5% {transform: skew(0deg,0deg);}
		3% {transform: skew(0deg,0deg);}
		3.5% {transform: skew(1deg, 1deg);}
		4% {transform: skew(-1deg, -1deg);}
		4.5% {transform: skew(0deg,0deg);}
		5% {transform: skew(0deg,0deg);}
		5.5% {transform: skew(1deg, 1deg);}
		6% {transform: skew(-1deg, -1deg);}
		6.5% {transform: skew(0deg,0deg);}
		100% {transform: skew(0deg,0deg);}
	}

	@keyframes himeji {
		0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
		1.5%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
		3%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
		5%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
		7%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
		10% { transform: scale(1.0, 1.0) translate(0%, 0%); }
		100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
	}

	@keyframes izumo {
		0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
		2%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
		5%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
		6.5%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
		8%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
		10% { transform: scale(1.0, 1.0) translate(0%, 0%); }
		100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
	}

	@keyframes kyoto {
		0% {transform: rotateY(0deg)}
		100% {transform: rotateY(360deg)}
	}

	// セクション イントロダクション
	.section-introduction {
		padding-top: var(--space-x10);
		padding-bottom: var(--space-x20);
		background: url(/assets/images/section-bg.jpg) no-repeat center/cover;
	}
	.introductoin-lead {
		display: flex;
		align-items: center;
		font-feature-settings: "palt";
		gap: var(--space-x2);
		width: fit-content;
		margin-inline: auto;
		padding-inline: var(--space-x5);
		font-size: min(3.5vw, 20px);
		border-bottom: 3px dotted var(--color-accent);
		padding-bottom: var(--space-x4);
	}
	.introductoin-lead__image {
		height: 35vw;
		max-height: 160px;
		width: auto;
	}
	.introductoin-lead--sub {
		padding-inline: var(--space-x5);
		max-width: 480px;
		margin-inline: auto;
	}
	.heading-ribbon {
		position: absolute;
		display: flex;
		align-items: center;
		left: 0;
		right: 0;
		width: fit-content;
		min-width: 190px;
		margin: 0 auto;
		text-align: center;
		color: white;
		letter-spacing: .1em;
		z-index: 1;
		//transform: translateY(-50%);
		filter: drop-shadow(0 1px 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(1px 0 #fff) drop-shadow(0 -1px #fff) drop-shadow(0 1px 0 var(--color-accent)) drop-shadow(-1px 0 0 var(--color-accent)) drop-shadow(0 -1px 0 var(--color-accent)) drop-shadow(1px 0px 0 var(--color-accent));
		&::before,
		&::after {
			content: "";
			display: block;
			background-color: var(--color-accent);
			width: 1em;
			height: 1em;
			border-radius: 50%;
		}
		&::before {
			transform: translate(50%);
		}
		&::after {
			transform: translate(-50%);
		}
		&>span {
			position: relative;
			display: block;
			padding: 0.3em 2em;
			background: var(--color-accent);
			clip-path: polygon(0 0,50% 0.4em,100% 0,100% 100%,50% calc(100% - 0.4em),0 100%);
			z-index: 1;
			&::before,
			&::after {
				position: absolute;
				top: 50%;
				left: 0;
				content: "";
				background-color: #fff;
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				transform: translateY(-50%);
			}
			&::after {
				left: unset;
				right: 0;
			}
		}
	}
	.box-contents {
		position: relative;
		max-width: 800px;
		margin-top: var(--space-x20);
		margin-inline: auto;
	}
	.box-contents__inner {
		padding: var(--space-x10) var(--space-x5) var(--space-x5);
		background-color: rgba(255,255,255,.75);
		-webkit-mask-image: linear-gradient(transparent,#000000 10%, #000000);
		mask-image: linear-gradient(transparent,#000000 10%, #000000);
		//-webkit-mask-image: url(/assets/images/wave-mask.svg);
		//mask-image: url(/assets/images/wave-mask.svg);
		-webkit-mask-size: 100% 0%;
		mask-size: 100% 0%;
		-webkit-mask-position: left bottom;
		mask-position: left bottom;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
	}
	.box-contents__border {
		position: absolute;
		inset: 0;
		overflow: visible;
		&>rect {
			width: 100%;
			height: 100%;
			stroke: var(--color-accent);
			stroke-dasharray:400%;
			stroke-dashoffset:400%;
		}
	}
	.rule-list {
		counter-reset: rule;
	}
	.rule-item {
		display: flex;
		gap: .5rem;
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 1.75em;
			height: 1.75em;
			padding-bottom: 0.1em;
			background-color: var(--color-accent);
			border-radius: 50%;
			counter-increment: rule;
			content: counter(rule);
			color: white;
		}
		&+.rule-item {
			margin-top: .75rem;
		}
	}
	.notes-list {
		list-style-type: decimal;
		padding-left: 1.5em;
	}
	.notes-item {
		&+.notes-item {
			margin-top: .75rem;
		}
	}

	//店舗一覧
	.section-storeList {
		background: url(/assets/images/section-store-bg.jpg);
	}
	.storelist-heading__image {
		width: 200px;
		margin-inline: auto;
	}
	.store-list {
		display: grid;
		gap: var(--space-x2);
		padding: var(--space-x5) var(--space-x2);
		background-color: rgba(255,255,255,.6);
		@media (min-width: 576px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	.store-link {
		display: flex;
		align-items: center;
		gap: var(--space-x2);
		height: 100%;
		padding: var(--space-x3)  var(--space-x2);
		color: inherit;
		text-decoration: none;
		//pointer-events: none;
		background-color: rgba(255,255,255,.7);
		background-image: radial-gradient(circle, #f0f0f0 0%, #e9e9e9 100%);
		background-size: 0%;
		background-repeat: no-repeat;
		background-position: center;
		transition: background-size .3s ease-in-out;
		&:hover {
			background-size: 100%;
			transition: background-size .15s ease-in-out;
		}
		&[data-canceled="true"] {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				inset: 0;
				display: block;
				background-color:rgba(0,0,0,.4);
			}
			&::after {
				content: '出店中止';
				position: absolute;
				top: 50%;
				left: 50%;
				padding: 2px .5em;
				border-radius: 5px;
				border: 3px solid;
				background-color: rgba(255,255,255,.85);
				font-weight: bold;
				font-size: 110%;
				letter-spacing: .2em;
				color: var(--color-danger);
				transform: translate(-50%, -50%);
			}
			&:hover {
				background-size: 0%;
			}
		}
	}
	.store-number {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 1.75em;
		height: 1.75em;
		padding-bottom: 0.1em;
		color: white;
		border-radius: 50%;
		background-color: #1D2A82;
	}
	.section-ngaList {
		overflow-x: hidden;
		background: url(/assets/images/section-bg.jpg) no-repeat center/cover;
	}
	.nga-list__image {
		margin-inline: auto;
	}

	.nga-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--space-x6) var(--space-x4);
		margin-top: var(--space-x10);
		@media (min-width: 576px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: 768px) {
			grid-template-columns: repeat(5, 1fr);
		}
		@media (min-width: 1000px) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
	.nga-item {
		@media (hover:hover) {
			&>.nga-link {
				display: inline-block;
				filter: grayscale(1);
				transition: rotate .3s ease-out;
			}
			&:hover {
				&>.nga-link {
					filter: grayscale(0);
					rotate: Y 360deg;
				}
			}
		}
	}
	.sake-chart {
		//padding: var(--space-x3) var(--space-x4);
	}
	.sake-chart-wrapper {
		position: relative;
		padding: var(--space-x2);
		background-color: #fff;
		height: clamp(320px, 50vw, 520px);
	}
	.sake-label {
		position: absolute;
		inset: 0;
		width: fit-content;
		height: fit-content;
		margin: auto;
		padding: var(--space-x1);
		background-color: rgba(255,255,255,.8);
		font-weight: bold;
		line-height: 1;
		&.label-top {
			bottom: unset;
			color: #6B9767;
			@media (min-width: 576px) {
				top: var(--space-x1);
			}
		}
		&.label-right {
			left: unset;
			writing-mode: vertical-rl;
			color: #BD5D5D;
			@media (min-width: 576px) {
				right: var(--space-x1);
			}
		}
		&.label-bottom {
			top: unset;
			color: #4191B1;
			@media (min-width: 576px) {
				bottom: var(--space-x1);
			}
		}
		&.label-left {
			right: unset;
			writing-mode: vertical-rl;
			color: #BF9E6C;
			@media (min-width: 576px) {
				left: var(--space-x1);
			}
		}
	}
	.section-chart {
		&>h3 {
			position: absolute;
			margin: 0 auto 0 calc(var(--space-x5) * -1);
			padding: var(--space-x2) var(--space-x5);
			background-color: var(--color-sub-accent);
			background-image: linear-gradient(-90deg, var(--color-sub-accent) 0%, color.scale(#1D2A82, $lightness: -25%) 80%, color.scale(#1D2A82, $lightness: -15%) 100%);
			color: white;
			z-index: 1;
			transform: translateY(-110%);
			@media (min-width: 768px) {
				transform: translateY(-50%);
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 5px;
				left: 5px;
				width: 100%;
				height: 100%;
				border: 1px solid white;
			}
			&::after {
				top: 6px;
				left: 6px;
				border-color: var(--color-sub-accent);
			}
		}
	}
	.button-chart-expansion {
		display: flex;
		gap: var(--space-x1);
		margin-left: auto;
		margin-top: var(--space-x4);
		padding: var(--space-x3) var(--space-x4);
		border: 0;
		background-color: #fff;
		cursor: pointer;
		transition: background-color .3s ease-out;
		@media (hover: hover) {
			&:hover {
				background-color: color.scale(#1D2A82, $lightness: 95%);
			}
		}
		@media (min-width: 768px) {
			display: none;
		}
	}
	/**************************\
Basic Modal Styles
\**************************/

	.modal {
		font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	}

	.modal__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.8);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		z-index: 10;
	}

	.modal__container {
		padding: 30px;
		max-width: 500px;
		max-height: 100vh;
		border-radius: 4px;
		overflow-y: auto;
		box-sizing: border-box;
	}

	.modal__header {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal__title {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 600;
		font-size: 1rem;
		line-height: 1.25;
		color: white;
		box-sizing: border-box;
	}

	.modal__close {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		margin-inline: auto;
		background: white;
		border-radius: 50%;
		border: 2px solid var(--color-sub-accent);
		&::before,
		&::after {
			position: absolute;
			content: '';
			background-color: var(--color-sub-accent);
			width: 60%;
			height: 2px;
			display: inline-block;
		}
		&::before {
			rotate: 45deg;
		}
		&::after {
			rotate: -45deg;
		}
	}

	.modal__header .modal__close:before { content: "\2715"; }

	.modal__content {
		margin-top: 1rem;
		margin-bottom: 2rem;
		line-height: 1.5;
		color: rgba(0,0,0,.8);
	}

	.modal__btn {
		font-size: .875rem;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
		background-color: #e6e6e6;
		color: rgba(0,0,0,.8);
		border-radius: .25rem;
		border-style: none;
		border-width: 0;
		cursor: pointer;
		-webkit-appearance: button;
		text-transform: none;
		overflow: visible;
		line-height: 1.15;
		margin: 0;
		will-change: transform;
		-moz-osx-font-smoothing: grayscale;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		transition: -webkit-transform .25s ease-out;
		transition: transform .25s ease-out;
		transition: transform .25s ease-out,-webkit-transform .25s ease-out;
	}

	.modal__btn:focus, .modal__btn:hover {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	.modal__btn-primary {
		background-color: #00449e;
		color: #fff;
	}



	/**************************\
    Demo Animation Style
  \**************************/
	@keyframes mmfadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes mmfadeOut {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	@keyframes mmslideIn {
		from { transform: translateY(15%); }
		to { transform: translateY(0); }
	}

	@keyframes mmslideOut {
		from { transform: translateY(0); }
		to { transform: translateY(-10%); }
	}

	.micromodal-chart {
		display: none;
	}

	.micromodal-chart.is-open {
		display: block;
	}

	.micromodal-chart[aria-hidden="false"] .modal__overlay {
		animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	}

	.micromodal-chart[aria-hidden="false"] .modal__container {
		animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
	}

	.micromodal-chart[aria-hidden="true"] .modal__overlay {
		animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	}

	.micromodal-chart[aria-hidden="true"] .modal__container {
		animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
	}

	.micromodal-chart .modal__container,
	.micromodal-chart .modal__overlay {
		will-change: transform;
	}

	.modal-past__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
	.modal-past__item {
		animation: fadeInBouce .5s ease-out both;
		&:nth-of-type(2) {
			animation-delay: .1s;
		}
		&:nth-of-type(3) {
			animation-delay: .2s;
		}
		&:nth-of-type(4) {
			animation-delay: .3s;
		}
		&:nth-of-type(5) {
			animation-delay: .4s;
		}
	}
	.modal-past__link {
		display: block;
		padding: var(--space-x1);
		color: white;
		text-decoration: none;
		text-align: center;
	}
	.modal-past__image {
		width: 80px;
		height: auto;
	}
	@keyframes fadeInBouce {
		0%   { transform: scale(1.1, 1.1) translate(0%, 50%); opacity: 0}
		40%  { transform: scale(0.9, 1.2) translate(0%, -30%); opacity: 1}
		60%  { transform: scale(1, 1) translate(0%, -40%);  opacity: 1}
		80%  { transform: scale(0.9, 1.1) translate(0%, -5%); }
		90%  { transform: scale(1.1, 0.9) translate(0%, 0%); }
		100%  { transform: scale(1, 1) translate(0%, 0%); }
	}
.micromodal-chart {
	.modal__content {
		width: 100%;
		overflow-x: scroll;
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: '';
			display: inline-block;
			width: 150px;
			height: auto;
			aspect-ratio: 3/4;
			background: url(/assets/images/enable-scroll.svg) no-repeat center/contain;
		}
	}
	.sake-chart-wrapper {
		position: relative;
		width: 120vh;
		max-width: unset;
		height: 60vh;
	}
	&.is-open {
		.modal__content {
			&::after {
				animation: fadeOut .5s ease-out both 1s;
			}
		}
	}
}
@keyframes fadeOut {
	from {opacity: 1}
	to {opacity: 0}
}
</style>
