---
import ProductOnly from '../components/ProductOnly.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Lightbox from '@julian_cataldo/astro-lightbox/Lightbox.astro';
import { ViewTransitions } from 'astro:transitions';


interface Props {
	title: string;
}
const { slug } = Astro.params;
const { title } = Astro.props;
const GTMKey = import.meta.env.PUBLIC_GTM_KEY;
const GTMKeyNoScript= `https://www.googletagmanager.com/ns.html?id=${GTMKey}`;

const pageTitle = slug ? title + ' - 日本酒ゴーアラウンド大阪2023 公式サイト' : '日本酒ゴーアラウンド大阪2023 公式サイト';
const description = slug ? title + '。10月1日日本酒の日に開催される、日本酒を愛する人のためのイベント。今年はなんと85店舗が参加！' : '10月1日日本酒の日に開催される、日本酒を愛する人のためのイベント。今年はなんと85店舗が参加！';


const url = new URL(Astro.url.pathname, 'https://nga-osaka.com');
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/svg+xml" href="/favicon.png">
		<title>{pageTitle}</title>
		<meta name="description" content={description}>
		<meta name="format-detection" content="telephone=no">
		<meta name="canonical" content={url.href}>
		<meta property="og:url" content={url.href}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:site_name" content="日本酒ゴーアラウンド大阪 2023 公式サイト">
		<meta property="og:image" content="https://nga-osaka.com/assets/images/main-visual.jpg">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
		<ProductOnly>
			<script define:vars={{GTMKey}}>
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
						new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer', GTMKey);
			</script>
		</ProductOnly>
		<Lightbox />
	</head>
	<body>
	<ProductOnly>
		<noscript>
			<iframe src={GTMKeyNoScript} height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
	</ProductOnly>
	<Header />
	<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--color-accent: rgba(75, 160, 149, 0.99);
		--color-sub-accent: #1D2A82;
		--color-secondary: #70295E;
		--color-danger: #dc3545;
		--font-color: #333333;
		--space-x1: 4px;
		--space-x2: 8px;
		--space-x3: 12px;
		--space-x4: 16px;
		--space-x5: 20px;
		--space-x6: 24px;
		--space-x7: 28px;
		--space-x8: 32px;
		--space-x9: 36px;
		--space-x10: 40px;
		--space-x15: 60px;
		--space-x20: 80px;

		--break-sm: 576px;
		--break-md: 768px;
		--break-lg: 992px;
		--break-xl: 1200px;
	}
	*,::before,::after {
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		//background: #13151A;
		//background-size: 224px;
	}
	body {
		margin: 0;
		padding-bottom: 60px;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 400;
		line-height: 1.75;
		@media (min-width: 768px) {
			padding-bottom: 0;
		}
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.container {
		max-width: calc(1200px + var(--space-x5) * 2);
		margin-inline: auto;
		padding-inline: var(--space-x5);
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight: 500;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	 ul {
		 padding-left: 0;
		 list-style: none;
	 }
	 .section {
		 padding-block: var(--space-x5);
	 }
	 .text-center {
		 text-align: center;
	 }
	 .block-center {
		 width: fit-content;
		 margin-inline: auto;
	 }
	 .u-display-block {
		 display: block!important;
	 }
	.app-lightbox>.portal {
		padding: var(--space-x5);
	}
	a{
		word-break: break-all;
	}
	.googlemap>iframe {
		width: 100%;
		height: 300px;
		border: 1px solid #ddd;
		@media (min-width: 768px) {
			height: 400px;
		}
	}
	.sake-temp {
		display: inline-block;
		padding: var(--space-x2) var(--space-x3);
		margin-right: var(--space-x2);
		border: 1px solid;
		line-height: 1.1;
		&.temp-cold {
			background-color: lightskyblue;
			border-color: deepskyblue;
		}
		&.temp-normal {
			background-color: lavender;
			border-color: lightsteelblue;
		}
		&.temp-hot {
			background-color: coral;
			border-color: crimson;
		}
	}
</style>
